<div class="modal-content">

    <span class="closeX" onclick="closeAddModal()">&times;</span>

    <h3>Add Product</h3>

    <form id="addProductForm" action="/add" method="POST">

        <div class="form_group">
            <label for="title">Title</label>
            <input type="text" name="title" placeholder="Insert Title" required id="title">
        </div>

        <div class="form_group">
            <label for="price">Price</label>
            <input type="number" name="price" step="0.01" min="0" placeholder="0.00" id="price">
        </div>

        <div class="form_group">
            <label for="author">Author</label>
            <input type="text" name="author" id="author" placeholder="Optional">
        </div>

        <div class="form_group">
            <label for="category">Category</label>
            <input type="text" name="category" id="category" placeholder="Optional">
        </div>

        <div class="form_group">
            <label for="quantity">Quantity</label>
            <input type="number" name="quantity" id="quantity" placeholder="0" min="0">
        </div>

        <div class="form_group">
            <label for="section">Section</label>
            <select name="section" id="section" required>
                <option value="A">A</option>
                <option value="B">B</option>
                <option value="C">C</option>
                <option value="D">D</option>
                <option value="E">E</option>
                <option value="F">F</option>
            </select>
        </div>

        <div class="modalBtnContainer">
            <button type="submit"
                class="custom-btn bg-blue-500 hover:bg-blue-600 text-white px-4 py-2 rounded-lg transition">
                Add
            </button>

            <button type="button" id="clearProdBtn"
                class="custom-btn bg-blue-500 hover:bg-blue-600 text-white px-4 py-2 rounded-lg transition">
                Clear
            </button>
        </div>

    </form>
</div>