<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add New User</title>
    <link rel="stylesheet" href="/output.css">
    <link rel="stylesheet" href="/add.css">
</head>
<body class="bg-modern min-h-screen">
    <a href="/dbProducts" class="back_home" title="Homepage">
            <img src="/img/back.png" alt="Home" width="32" height="32">
    </a>

    <div class = "modal-content">
        <form action="/register" method="POST">
            <div class="form_group">
                <label for="name">Name</label>
                <input type="text" name="name" placeholder="Insert Name" required id="name">
            </div>

            <div class="form_group">
                <label for="role">Role</label>
                <select name="role" id="role" required>
                    <option value="">Select Role</option>
                    <option value="ADMINISTRATOR">Administrator</option>
                    <option value="USER">User</option>
                </select>
            </div>

            <div class="form_group">
                <label for="username">Username</label>
                <input type="text" name="username" placeholder="Insert Username" required id="username">
            </div>

            <div class="form_group">
                <label for="password">Password</label>
                <input type="password" name="password" placeholder="Insert Password" required id="password">
                <div id="passwordRules" class="text-sm mt-2 space-y-1 hidden">
                    <p id="rule-length" class="text-red-500">• At least 8 characters</p>
                    <p id="rule-upper" class="text-red-500">• One uppercase letter</p>
                    <p id="rule-lower" class="text-red-500">• One lowercase letter</p>
                    <p id="rule-number" class="text-red-500">• One number</p>
                    <p id="rule-special" class="text-red-500">• One special character</p>
                </div>
            </div>

            <div class="button_group">
                <button type = "submit"
                id="addBtn"
                class="custom-btn bg-blue-500 hover:bg-blue-600 text-white px-4 py-2 rounded-lg transition">
                Add User
                </button>

                <button type="reset"
                 id="clearUserBtn"
                 class="custom-btn bg-blue-500 hover:bg-blue-600 text-white px-4 py-2 rounded-lg transition">
                 Clear
                </button>
            </div>
        </form>
    </div>

    <script src="/js/user.js"></script>
</body>
</html>