body{
    font-family: Arial, Helvetica, sans-serif;
}


main{
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content: center;
    padding:20px;
    width: 100%;
    z-index:1;
}

/* USERS LIST */
.users-list{
    width:100%;
    max-width:800px;
    margin: 0 auto 20px auto;
    background:white;
    padding:25px;
    margin-bottom:20px;
    border-radius:8px;
    box-shadow:0 4px 15px rgba(0,0,0,0.1);
}

.users-list h3{
    margin-top:0;
    text-transform:uppercase;
}

.users-list ul{
    list-style:none;
    padding:0;
    margin:10px 0;
}

.users-list li{
    padding:8px 0;
    border-bottom:1px solid #ddd;
}


#container{
    border-radius:8px;
    box-shadow:0 4px 15px rgba(0,0,0,0.1);
    z-index:1;
}

#tableBooks thead{
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    position: relative;
    z-index: 1;
}

#tableBooks thead th {
    position: sticky;
    top:0;
    background: #ccc; 
    z-index: 10;    
}

table th{
    background:#cccc;
    position: sticky;
    color:black;
    font-weight: 800;
    font-size: 15px;
}

table td{
    text-align:center;
    color: #333333;
}

table tbody tr:hover{
    background:rgba(17,124,255,0.05);
}

table th,
table td {
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    border-left: none;
    border-right: none;
}

table #bookId{
    font-weight:600;
}

#btnContainer{
    display:flex;
    justify-content:center;
    gap:10px;
    margin-top:20px;
}

.custom-btn{
    width:120px;
    height:60px;
}


.edit-column{
    display:none;
}

/* LOGOUT ICON */
.back_login{
    position:absolute;
    top:40px;
    z-index:2;
}

.back_login:hover{
    transform:scale(1.3);
}

.users_group:hover{
    transform:scale(1.3);
}



#deleteModal{
    display: none; 
    position: fixed; 
    z-index: 9999; 
    top: 0;
    left: 0;
    width: 100%;  
    height: 100%; 
    background-color: rgba(0, 0, 0, 0.5); 
}

.closeX {
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 24px; 
    color: #aaa;
    transition: color 0.2s;
    cursor: pointer;
}

#deleteModal span:hover{
    color:#ff1139e1;
}

#deleteModal h3{
    margin-top: 0;
    color:#666666;
    padding-right: 20px;
}

#deleteModal p{
    color:#666;
}

#deleteModal input{
    width: 80%;
    padding: 10px;
    margin: 15px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 15px;
}

#deleteModal input#qtyInpModal:focus {
    border-color: #2196F3; 
}

#addModal {
    display: none; 
    position: fixed; 
    z-index: 9999;    
    background-color: rgba(0, 0, 0, 0.5); 
}

/* addModal content style */
.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    background-color: #fff;
    padding: 20px;
    border-radius: 12px;
    width: 90%;
    max-width: 500px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
}

.modalBtnContainer {
    text-align: left;
}

.modalBtnContainer button{
    height: 50px;
    border: none;
    padding: 10px 20px;
    margin-bottom: 10px;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    width: auto;
}


/* MOBILE */
@media (max-width:600px){

    .users-list{
        display:none;
    }

    #container{
        width:95%;
    }

    /* scroll table */
    #booksContainer{
        overflow-x:auto;
    }

    #tableBooks{
        min-width:600px;
    }

    .back_login{
        top:20px;
        right:20px;
    }
}